@model IEnumerable<WardrobeTest.Models.Wardrobe>

@{
    ViewBag.Title = "Index";
}

<h2>Outfit of the Day</h2>
<h3>#OOTD</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accessory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottom.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shoe.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Top.Name)
            <img src="@Url.Content(item.Top.Photo)" style="height:200px; width:200px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.Name)
            <img src="@Url.Content(item.Bottom.Photo)"  style="height:200px; width:200px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shoe.Name)
            <img src="@Url.Content(item.Shoe.Photo)"  style="height:200px; width:200px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accessory.Name)
            <img src="@Url.Content(item.Accessory.Photo)"  style="height:200px; width:200px;"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WardrobeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WardrobeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WardrobeID })
        </td>
    </tr>
}

</table>