@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Html.ActionLink("Outfit of the Day", "Index", "Wardrobes")</h1>
    <p class="lead">
        Small batch sartorial paleo bushwick, normcore meggings chicharrones enamel pin narwhal actually.
        Yuccie lomo leggings PBR&B, organic iPhone ugh tattooed four loko hexagon. Next level blog 90's live-edge,
        gastropub whatever everyday carry portland af mixtape direct trade gochujang try-hard photo booth.
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Tops", "Index", "Tops")</h2>
        <p>
            Fanny pack tattooed pickled etsy selvage. Fixie affogato art party church-key, pour-over stumptown
            biodiesel offal banh mi messenger bag. Pinterest narwhal enamel pin synth. Williamsburg semiotics
            photo booth tumblr. 3 wolf moon everyday carry lyft selvage banh mi, photo booth vegan fanny pack post-ironic
            food truck gentrify four dollar toast poutine tilde wayfarers. Mlkshk brunch crucifix kogi post-ironic blog.
            90's godard banh mi literally knausgaard portland offal, tofu readymade bitters next level vice.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Bottoms", "Index", "Bottoms")</h2>
        <p>
            Irony cred DIY meggings coloring book, brooklyn viral. Hella irony chartreuse, vexillologist everyday carry
            synth gastropub keytar hot chicken tofu hashtag. Messenger bag tousled glossier etsy stumptown,
            woke edison bulb drinking vinegar seitan semiotics pabst activated charcoal hexagon poutine.
            Irony sartorial hexagon mixtape, sriracha heirloom pork belly bicycle rights gochujang yr echo park craft
            beer unicorn church-key. Occupy tumblr edison bulb mustache. YOLO iPhone lumbersexual dreamcatcher roof party.
            chicken offal normcore readymade, kogi marfa sartorial meggings seitan.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Shoes", "Index", "Shoes")</h2>
        <p>
            Lumbersexual fashion axe single-origin coffee direct trade taxidermy tote bag snackwave poutine, kickstarter
            pork belly. Vinyl sriracha asymmetrical, tacos celiac stumptown locavore hoodie truffaut fashion axe. Cliche
            fanny pack photo booth humblebrag VHS franzen. Kogi squid distillery plaid edison bulb etsy. Echo park vape
            VHS, pop-up paleo flexitarian plaid air plant yuccie cronut. Occupy yuccie plaid hella selvage synth. Kickstarter
            wayfarers actually gentrify, chicharrones tote bag fashion axe glossier beard.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Accessories", "Index", "Accessories")</h2>
        <p>
            Cred freegan keffiyeh vape, microdosing pabst chicharrones chartreuse gluten-free chillwave air plant
            chia jean shorts paleo slow-carb. Jianbing viral iPhone, chia letterpress slow-carb flannel. Ugh pork
            belly lo-fi air plant man bun. Tumeric jean shorts cray heirloom, freegan 90's la croix migas. Post-ironic
            pok pok vexillologist portland freegan. Mumblecore pinterest af cornhole coloring book, photo booth vegan
            deep v literally 3 wolf moon vaporware. Cray hella 90's, tattooed YOLO kickstarter ethical cold-pressed.
        </p>
    </div>
</div>
